<footer>
    <style>
        footer {
    background-color: #000000;
    color: white;
    padding: 60px 0 30px;
}
</style>
  <div class="container">
      <div class="footer-content">
          <div class="footer-about">
              <div class="footer-logo">SA<span>WAX</span></div>
              <p>SAWAX is dedicated to creating premium timepieces that blend elegance, functionality, and exceptional craftsmanship.</p>
              <div class="social-icons">
                  <a href="#" class="social-icon"><i class="fa-brands fa-facebook-f"></i></a>
                  <a href="#" class="social-icon"><i class="fa-brands fa-x-twitter"></i></a>
                  <a href="#" class="social-icon"><i class="fa-brands fa-linkedin"></i></a>
                  <a href="#" class="social-icon"><i class="fa-brands fa-instagram"></i></a>
              </div>
          </div>
          <div class="footer-links">
              <h4>Shop</h4>
              <ul>
                  <li><a href="#">Men's Watches</a></li>
                  <li><a href="#">Women's Watches</a></li>
                  <li><a href="#">Limited Editions</a></li>
                  <li><a href="#">New Arrivals</a></li>
                  <li><a href="#">Special Offers</a></li>
              </ul>
          </div>
          <div class="footer-links">
              <h4>Support</h4>
              <ul>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Shipping & Returns</a></li>
                  <li><a href="#">Watch Care</a></li>
                  <li><a href="#">Warranty</a></li>
                  <li><a href="#">Contact Us</a></li>
              </ul>
          </div>
          <div class="footer-links">
              <h4>Contact Us</h4>
              <div class="contact-item">
                  <div class="contact-icon"><i class="fa-solid fa-location-dot"></i></div>
                  <div> Time City, TC 12345</div>
              </div>
              <div class="contact-item">
                  <div class="contact-icon"><i class="fa-solid fa-envelope"></i></div>
                  <div>sawaxwatches@gmail.com</div>
              </div>
              <div class="contact-item">
                  <div class="contact-icon"><i class="fa-solid fa-phone"></i></div>
                  <div>04931 783483</div>
              </div>
          </div>
      </div>
      <div class="footer-bottom">
          <div>© 2025 SAWAX. All rights reserved.</div>
          <div>Privacy Policy | Terms of Service | Sitemap</div>
      </div>
  </div>
</footer>
</body>
</html>