<%- include("../../views/partials/admin/header") %>

<style>
    :root {
      --primary-color: #3498db;
      --secondary-color: #2c3e50;
      --success-color: #2ecc71;
      --danger-color: #e74c3c;
      --info-color: #3498db;
      --light-gray: #ecf0f1;
    }
    .main-wrap .content-main {
    min-height: calc(100vh - 72px);
}
</style>


<section class="content-main " style="background-color: rgb(52, 52, 33);">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title" style="color: black;">Dashboard </h2>
        </div>
       
    </div>
</section>
<%- include("../../views/partials/admin/footer") %>
